<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Iot-Dashboard</title>
    <script src = "https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src ="https://unpkg.com/vue@next"></script>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'lo.css')}}">
</head>
<body>
    <h1>Hello world from frontend app</h1>
</body>
</html>